// Main
$main_bg_color: #FAFAFA;
$main_text_color: #232323;
$blue_text_color: #00B8E6;
$main_white: #FFFFFF;
$main_darkgray: darkgray;
$main_gray: gray;
$main_black: #000000;
$google_bg_color: #4285F4;

// Navigation
$nav_bg_color: #A366FF;
$nav_logo_color: #F2F2F2;

// Auth form
$auth_form_bg_color: #F5F5F5;
$auth_input_bg_color: #F8F9F9;
$auth_input_border_color: #D7D7D7;
$auth_btn_bg_color: #424949;
$auth_link_color: #3DCAF1;
$auth_link_hover_color: #008CB3;
$auth_error: #CD0000;

// Chat
$chat_border_color: #E6E6E6;
$message_bg_received: #3C4252;
$message_bg_sended: #E0E0E0;
$message_text_color: #434343;
$online_color: #CC0000;
$ofline_color: #00B386;

// Alert
$alert_red: #FFE6E6;
$alert_green: #D6F5D6;